<div class="hero">
    <div class="hero-content">
        <span class="hero-gday">G'day</span>
        <h2 class="gh-article-title">
            I'm an
            <span style="color: var(--ghost-accent-color); padding-right: 0.25em">independent tech consultant</span>
            based in Sydney, Australia
        </h2>
        <p class="gh-article-excerpt">I build
            world-class teams delivering great products for their customers. Think of me as your CTO for hire.</p>
        <p class="gh-article-excerpt">Looking for an
            engineering leader who can help grow your company? We&nbsp;should&nbsp;talk&nbsp;—&nbsp;today.</p>
    </div>
    <div class="hero-image">
        {{#if @custom.bio_hero_image}}
        <div class="hero-image-box">
            <img class=""
                srcset="{{img_url @custom.bio_hero_image size="s"}} 300w,
                        {{img_url @custom.bio_hero_image size="m"}} 600w,
                        {{img_url @custom.bio_hero_image size="l"}} 1000w,
                        {{img_url @custom.bio_hero_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url @custom.bio_hero_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        </div>
        {{/if}}
    </div>
</div>
